<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :current_password, class: 'control-label' %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes',
                :default => 'we need your current password to confirm your changes') %>)</i>
    <%= f.password_field :current_password, class: "form-control" %>
  </div>
</div>
