<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <div class="panel-title">Edit a Comment</div>
  </div>
  <div class="panel-body">
    <%= form_for([@link, @comment]) do |f| %>
      <div class="form-group">
        <%= f.label :body, class: 'sr-only' %>
        <%= f.text_area :body, rows: 5, autofocus: true, class: "form-control" %>
      </div>
      <%= f.submit  t('.sign_in', :default => "Leave comment"), class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>
