<ul class="list-group">
  <% @links.each do |link| %>
    <li class="link list-group-item">
      <h4 class="title">
        <%= link_to link.title, link %>
        <span class="small glyphicon glyphicon-link"></span>
        <small>(<%= link.host %>)</small>
      </h4>
      <small class="author">
        Submitted <%= time_ago_in_words(link.created_at) %>
        by <%= link.user.email %>
      </small>
    </li>
  <% end %>
</ul>
