<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= @link.title %> <small>(<%= @link.url %>)</small></h4>
    <small>Submitted at <%= @link.created_at %> by <%= @link.user.email %></small>
  </div>
  <div class="panel-body">Lorem Ipsum</div>
</div>
