<% if @post.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</strong>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
