<div class="votes btn-group-vertical">
  <% if user_signed_in? and current_user.voted_up_on? post %>
    <div class="upvote btn btn-xs btn-success"><i class="fa fa-chevron-up upvoted"></i></div>
  <% elsif user_signed_in? %>
    <%= link_to upvote_post_path(post), class: 'upvote btn btn-xs btn-default', method: :put do %>
      <i class="fa fa-chevron-up"></i>
    <% end %>
  <% else %>
    <div class="upvote btn btn-xs btn-default"><i class="fa fa-chevron-up"></i></div>
  <% end %>

  <% if user_signed_in? and current_user.voted_on? post %>
    <div class="votes_score voted btn btn-xs btn-default"><%= post.score %></div>
  <% else %>
    <div class="votes_score btn btn-xs btn-default"><%= post.score %></div>
  <% end %>

  <% if user_signed_in? and current_user.voted_down_on? post %>
    <div class="downvote btn btn-xs btn-danger"><i class="fa fa-chevron-down downvoted"></i></div>
  <% elsif user_signed_in? %>
    <%= link_to downvote_post_path(post), class: 'downvote btn btn-xs btn-default', method: :put do %>
      <i class="fa fa-chevron-down"></i>
    <% end %>
  <% else %>
    <div class="downvote btn btn-xs btn-default"><i class="fa fa-chevron-down"></i></div>
  <% end %>
</div>
