$screen-sm: 720px;
$container-tablet: 672px;
$panel-primary-heading-bg: #428bca;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "panel-images";
@import "tab-panels";

@import "devise";
@import "posts";
@import "users";

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");


.navbar-brand {
  font-weight: 900;
}
