// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link {
  .title {
    margin-bottom: 0;
  }
  .author {
  }
  position: relative;

  .votes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3em;
    padding-top: 3px;
    text-align: center;
  }
}
