// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link {
  .title {
    margin-bottom: 0;
  }
  .author {
  }
  position: relative;

  .votes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3em;
    padding-top: 3px;
    text-align: center;
  }
}

.comment {
  position: relative;
  &:nth-child(even) {
    background-color: mix($list-group-hover-bg, $body-bg);
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
  h1, h2, h3 {
    margin: 10px 0 10px;
  }
  h4 {
    font-size: 16px;
  }
  h4, h5, h6 {
    margin: 0px 0 10px;
  }
  .comment-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
